nav{
    display: flex;
    justify-content: center;
    background-color: rgb(199 199 236 / 28%);
    height: 50px;
    position: relative;
}

#dropdown{
    position:absolute;
    bottom: 18%;
   
}

body{
    background-color: #3496e908;
}

.content{
    display: flex;
   width: 80%;
   
   margin: 0 auto; 
   padding: 20px;

}
#content-item{
  width: 90%;
  height: 50%;
   padding: 20px;
  
}

#generateBtn {
    text-align: center;
    margin-top: 10px;
}


#generateBtn button{
    background-color:#28a745;
    border: none;
    padding: 8px;
    color: white;
    font-weight:bold;
    font-size: large;
    border-radius: 5px;
}

#generateBtn button:hover{
    background-color: rgb(20, 78, 13);
}
